footer.footer(id="footer")
  .container
    .footer-top
      a.logo.footer-top__link(href="#main")
        svg.footer-top__logo(width="40" height="45")
          use(href="img/icons/icons.svg#header-logo")
        span GOOD WEED
      form.footer-form
        label.footer-form__label(for="email")  
          svg.footer-form__svg(width="11" height="9") 
            use(href="img/icons/icons.svg#footer-mail")
          input.footer-form__input(name="email" type="email" id="email" placeholder="Your email address")
        button.footer-form__btn(type="submit") SUBMIT
      ul.footer-top__list
        li.footer-top__item
          a.footer-top__soc(href="#") 
            svg.footer-top__svg(width="15" height="15")
              use(href="img/icons/icons.svg#instagram")
        li.footer-top__item
          a.footer-top__soc(href="#") 
            svg.footer-top__svg(width="15" height="15")
              use(href="img/icons/icons.svg#facebook")
        li.footer-top__item
          a.footer-top__soc(href="#") 
            svg.footer-top__svg(width="15" height="15")
              use(href="img/icons/icons.svg#twitter")
        li.footer-top__item
          a.footer-top__soc(href="#") 
            svg.footer-top__svg(width="15" height="15")
              use(href="img/icons/icons.svg#youtube")
        li.footer-top__item
          a.footer-top__soc(href="#") 
            svg.footer-top__svg(width="15" height="15")
              use(href="img/icons/icons.svg#linkedin")
    .footer-bottom
      .footer-bottom__text
        p © 2022 goodweed All Rights Reserved
      address.footer-bottom__address
        .footer-bottom__title
          p Contact Us
        ul.footer-bottom-list
          li.footer-bottom-list__item
            a(href="#").footer-bottom-list__link.footer-bottom__link--coor 29000 State, Suite 400 Cary, NC 56668
          li.footer-bottom-list__item
            a(href="mailto:info@goodweed.com").footer-bottom-list__link.footer-bottom__link--email E: info@goodweed.com
          li.footer-bottom-list__item
            a(href="tel:+3009779999").footer-bottom-list__link.footer-bottom__link--phone  P: +300 977 99 99
          

        





