header.header
  .container-header
    .header-content
      a.header-content__link(href="#") 
        svg.header-content__logo(width="40" height="45")
          use(href="img/icons/icons.svg#header-logo")
        span GOOD WEED
      ul.header-list
        li.header-list__item
          a.header-list__link(href="#") Ğome
        li.header-list__item
          a.header-list__link(href="#") Blog
        li.header-list__item
          a.header-list__link(href="#") About Us 
        li.header-list__item
          a.header-list__link(href="#") Products
        li.header-list__item
          a.header-list__link(href="#") Pages
        li.header-list__item
          a.header-list__link(href="#") Contact Us
      .header-right
        a.header-right__link(href="#") 
          svg.header-right__svg(width="19" height="17")
            use(href="img/icons/icons.svg#header-basket")
        a.header-right__link(href="#") 
          svg.header-right__svg(width="17" height="14")
            use(href="img/icons/icons.svg#header-heart")
