.footer {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: $green;
}

.footer > .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-top {
  display: flex;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;

    color: $black;
  }

  &__logo {
    fill: $black;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 35px;
  }
  &__soc {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms linear;
    border-radius: 50%;

    &:hover,
    &:focus {
      background-color: $white;
      transform: scale(1.2);

      .footer-top__svg {
        fill: $green;
      }
    }
  }

  &__svg {
    transition: 250ms linear;
    fill: $black;
  }
}

.footer-form {
  display: none;
}

.footer-bottom {
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  &__title {
    font-family: $zilla-font;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;

    color: $black;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.footer-bottom-list {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    transition: 250ms linear;
    display: block;

    color: $black;

    &:hover,
    &:focus {
      color: $white;
      transform: scale(1.05);
    }
  }
}
