.products {
  padding-bottom: 100px;

  &__store {
    padding: 14px 66px;
    border: 1px solid $yellow;
    display: table;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: none;

    color: $yellow;
  }
}

.products-top {
  margin-bottom: 73px;

  &__title {
    text-align: center;
  }

  &__text {
    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }

  &__item {
    max-width: 200px;
  }

  &__btn {
    padding: 14px 80px;
    border: 1px solid $yellow;
    transition: 250ms linear;
    color: $yellow;

    &:focus {
      color: $white;
      background-color: $yellow;
    }
  }
}

.products-list-slider {
  display: flex;
  min-height: 333px;
}

.products-list {
  // display: flex !important;
  justify-content: center;
  align-items: center;
  min-height: 424px;

  &__item {
    width: 200px !important;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04),
      0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding-bottom: 20px;
  }

  &__img {
    width: 156px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  &__content {
    text-align: center;
    padding: 20px;
  }

  &__abbr {
    font-family: $zilla-font;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.21;
    margin-bottom: 8px;
    display: block;
  }

  &__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 12px;
  }

  &__price {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
  }

  &__btn {
    width: 100%;
    padding: 14px 0;
    text-align: center;
    transition: 250ms linear;

    color: $yellow;

    &:hover,
    &:focus {
      color: $white;
      background-color: $yellow;
    }
  }
}

.products .slick-arrow {
  display: none !important;
}

.products .slick-dots {
  position: absolute;
  bottom: -40px;
  left: 45%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.products [id="slick-slide-control10"],
.products [id="slick-slide-control11"],
.products [id="slick-slide-control12"] {
  border: none;
  font-size: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  cursor: pointer;
  transition: 250ms linear;

  background-color: rgba(0, 128, 0, 0.3);
}

.products .slick-active {
  & [id="slick-slide-control10"],
  [id="slick-slide-control11"],
  [id="slick-slide-control12"] {
    background-color: green;
  }
}
