html 
  include html/head 
  body 
    include html/header
    main
      //- HERO
      section.hero
        .container
          .hero-content
            .hero-top
              h1.hero-top__title Cannabis Also Know As GoodWeed Among Names
              p.hero-top__text We are a Cannabis Dispensary – Family Owned & Opereated The major goal of family medicine is to build trust between the
            .hero-bottom
              a.btn.hero-bottom__before(href="#") Explore
              a.btn.hero-bottom__after(href="#") Intro video
                svg.hero-bottom__arrow(width="17" height="19")
                  use(href="img/icons/icons.svg#hero-arrow") 
      //- SERVICE
      section.service
        .container
          .service-top
            h2.title Our services
            p.service-top__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          ul.service-list
            li.service-list__item
              .service-list__top
                svg.service-list__svg(width="46" height="65")
                  use(href="img/icons/icons.svg#service-1")
              .service-list__bottom
                h3.title.service-list__title Quality
                p.service-list__text Lorem ipsum dolor sit amet, consectetur
            li.service-list__item
              .service-list__top
                svg.service-list__svg(width="70" height="49")
                  use(href="img/icons/icons.svg#service-2")
              .service-list__bottom
                h3.title.service-list__title Delivery
                p.service-list__text Lorem ipsum dolor sit amet, consectetur
            li.service-list__item
              .service-list__top
                svg.service-list__svg(width="52" height="55")
                  use(href="img/icons/icons.svg#service-3")
              .service-list__bottom
                h3.title.service-list__title Natural
                p.service-list__text Lorem ipsum dolor sit amet, consectetur
            li.service-list__item
              .service-list__top
                svg.service-list__svg(width="60" height="60")
                  use(href="img/icons/icons.svg#service-4")
              .service-list__bottom
                h3.title.service-list__title Trusted 
                p.service-list__text Lorem ipsum dolor sit amet, consectetur 
      //- GALLERY
      section.gallery
        .gallery-top
          h2.title.gallery-top__title Our Photo <span class="title--color">Gallery</span>
          p.gallery-top__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .gallery-bottom
          .gallery-bottom__wrap
            img.gallery-bottom__img.gallery-bottom__img--big(src="img/gallery-1.jpg", alt="the girl smokes")
            .gallery-bottom__center
              img.gallery-bottom__img.gallery-bottom__img--small(src="img/gallery-2.jpg", alt="cannabis")
              img.gallery-bottom__img.gallery-bottom__img--small(src="img/gallery-3.jpg", alt="cannabis")
            img.gallery-bottom__img.gallery-bottom__img--big(src="img/gallery-4.jpg", alt="cannabis")
          .gallery-bottom__wrap
            img.gallery-bottom__img.gallery-bottom__img--big(src="img/gallery-5.jpg", alt="the man smokes")
            .gallery-bottom__center
              img.gallery-bottom__img.gallery-bottom__img--small(src="img/gallery-6.jpg", alt="cannabis")
              img.gallery-bottom__img.gallery-bottom__img--small(src="img/gallery-7.jpg", alt="cannabis")
            img.gallery-bottom__img.gallery-bottom__img--big(src="img/gallery-8.jpg", alt="cannabis")
      //- GUIDE
      section.guide
        .container
          .guide-top
            h2.title.guide-top__title The Guide Is To Familiarize You <span class="title--color">With GoodWeed</span>
            ul.guide-list
              li.guide-list__item
                label.guide-list__label(for="radio-1")
                  input.guide-list__input(type="radio" name="radio-btn" id="radio-1" checked)
                  .guide-list__content
                    p.guide-list__top Oils
                    span.guide-list__span FF
                    p.guide-list__bottom Florida’s Finest
              li.guide-list__item
                label.guide-list__label(for="radio-2")
                  input.guide-list__input(type="radio" name="radio-btn" id="radio-2" checked)
                  .guide-list__content
                    p.guide-list__top Buds
                    span.guide-list__span LB
                    p.guide-list__bottom Little Bloom
              li.guide-list__item
                label.guide-list__label(for="radio-3")
                  input.guide-list__input(type="radio" name="radio-btn" id="radio-3" checked)
                  .guide-list__content
                    p.guide-list__top Oils
                    span.guide-list__span MB
                    p.guide-list__bottom Mad Blast
              li.guide-list__item
                label.guide-list__label(for="radio-4")
                  input.guide-list__input(type="radio" name="radio-btn" id="radio-4" checked)
                  .guide-list__content
                    p.guide-list__top Hybrid
                    span.guide-list__span MT
                    p.guide-list__bottom Mix Tim
              li.guide-list__item
                label.guide-list__label(for="radio-5")
                  input.guide-list__input(type="radio" name="radio-btn" id="radio-5" checked)
                  .guide-list__content
                    p.guide-list__top Edibles
                    span.guide-list__span SD
                    p.guide-list__bottom Sour Diesel
          .guide-bottom
            ul.guide-list-bottom
              li.guide-list-bottom__item  
                img.guide-list-bottom__img(src="img/guide-cannabis.png", alt="cannabis")
                .guide-list-item-right
                  .guide-list-item-right__top
                    .guide-list-item-right__images  
                      span.guide-list-item-right__span
                        svg(width="14" height="16")
                          use(href="img/icons/icons.svg#guide-cannabis")
                      span.guide-list-item-right__span
                        svg(width="14" height="16")
                          use(href="img/icons/icons.svg#guide-cannabis")
                      span.guide-list-item-right__span
                        svg(width="14" height="16")
                          use(href="img/icons/icons.svg#guide-cannabis")
                      span.guide-list-item-right__span
                        svg(width="14" height="16")
                          use(href="img/icons/icons.svg#guide-cannabis")
                      span.guide-list-item-right__span
                        svg(width="14" height="16")
                          use(href="img/icons/icons.svg#guide-cannabis")
                    .guide-list-item-right__review 5.00 <span class="guide-list-item-right__review--color">(3 reviews)</span>
                  .guide-list-item-right__content-top
                    h3.guide-list-item-right__title Mad Blast
                    .guide-list-item-right__circle
                      span.guide-list-item-right__text MT
                  .guide-list-item-right__content-bottom
                    p.guide-list-item-right__text-content We are a Cannabis Dispensary – Family Owned & Opereated The major goal of family medicine is to build trust between the patient and the general paractitioner, which allow ahieving the best treatement outcome.
                  .guide-list-item-right__content-price
                    .guide-list-item-right__span-avability Avability: <span class="guide-list-item-right__span-avability--color">Instock</span>
                    .guide-list-item-right__span-price Price: <span class="guide-list-item-right__span-price--color">&#36 45</span>
                  button.btn.guide-list-item-right__btn(type="button") Add to Cart
      //- PRODUCTS
      section.products
        .container
          .products-top
            h2.title.products-top__title Our <span class="title--color">products</span>
            p.products-top__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            ul.products-top__list
              li.products-top__item
                button.btn.products-top__btn(type="button") Hybrid
              li.products-top__item
                button.btn.products-top__btn(type="button") Indica
              li.products-top__item
                button.btn.products-top__btn(type="button") Sativa
          ul.products-list
            li.products-list__item
              img.products-list__img.products-list__img--width(src="img/products-3.png", alt="cannabis")
              .products-list__content
                span.products-list__abbr MB
                p.products-list__text Mad Blast
                span.products-list__proc.products-list__proc--margin CBD :  80 %
                span.products-list__proc THC :  90 %
              button.btn.products-list__btn(type="button") Add to Cart
            li.products-list__item
              img.products-list__img(src="img/products-3.png", alt="cannabis")
              .products-list__content
                span.products-list__abbr LB
                p.products-list__text Little Bloom
                span.products-list__proc.products-list__proc--margin CBD :  70 %
                span.products-list__proc THC :  80 %
              button.btn.products-list__btn(type="button") Add to Cart
            li.products-list__item
              img.products-list__img(src="img/products-3.png", alt="cannabis")
              .products-list__content
                span.products-list__abbr MT
                p.products-list__text Mix Tim
                span.products-list__proc.products-list__proc--margin CBD :  50 %
                span.products-list__proc THC :  99 %
              button.btn.products-list__btn(type="button") Add to Cart
            li.products-list__item
              img.products-list__img(src="img/products-3.png", alt="cannabis")
              .products-list__content
                span.products-list__abbr SD
                p.products-list__text Sour Diesel
                span.products-list__proc.products-list__proc--margin CBD :  90 %
                span.products-list__proc THC :  30 %
              button.btn.products-list__btn(type="button") Add to Cart
          a.btn.products__store(href="#") Visit store
      //- TEAM
      section.team
        .container
          h2.title.team__title Meet Our CBD Specialists
          ul.team-list
            li.team-list__item
              img.team-list__img(src="img/team-1.jpg", alt="girl")
              .team-list__content
                p.team-list__text Mia Brown 
            li.team-list__item
              img.team-list__img(src="img/team-2.jpg", alt="girl")
              .team-list__content
                p.team-list__text Oliver Johnson 
            li.team-list__item
              img.team-list__img(src="img/team-3.jpg", alt="girl")
              .team-list__content
                p.team-list__text James Smith 
    include html/footer
    script(src="js/app.min.js")

